* {
    margin: 0;
}

body {
    background-color: #222222;
    padding-top: 10px;
    font-family: Montserrat, sans-serif;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #111;
    z-index: 100;
    padding: 10px 0;

}

.faixa-topo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
}

.faixa-topo h1 {
    margin: 0;
    font-size: 20px;
    color: #fff;
    margin-left: 20px;


}

.faixa-topo h1 a {
    color: red;
    text-decoration: none;
    margin-left: 10px;
}

.barra-de-navegacao a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;

}

.barra-de-navegacao a:hover {
    color: #6b6868;
}



.carrossel {
    width: 900px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 100px;
}

.slides:hover {
    animation-play-state: paused;
}

.slides {
    display: flex;
    animation: autoplay 15s infinite;
}

.slide img {
    width: 900px;
    height: 300px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 20px;
}


#s1:checked~.slides {
    transform: translateX(0%);
}

#s2:checked~.slides {
    transform: translateX(-100%);
}

#s3:checked~.slides {
    transform: translateX(-200%);
}

#s4:checked~.slides {
    transform: translateX(-300%);
}

#s5:checked~.slides {
    transform: translateX(-400%);

}

section {
    display: flex;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    border-radius: 18px;
    background-color: rgb(194, 27, 27);
    width: 60%;
    max-width: 700px;
    height: 90px;
    margin: 20px auto;
    gap: 20px;

}





.info1 h3 {
    color: #fff;
    font-size: 22px;
    font-family: sans-serif;

}

.info2 p {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.info2 a {
    font-size: 15px;
    color: #888585;
    text-decoration: none;
}

.nav {
    text-align: center;
    margin-top: 10px;
}

.nav label {
    width: 12px;
    height: 12px;
    background: #888;
    display: inline-block;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}

.container-dados h3 {
    color: #fff;
    margin-left: 18%;
    margin-top: 5%;
    font-size: 25px;

}

.galeria {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
    margin-top: 20px;
    flex-wrap: wrap;

}

.galeria img {
    width: 100%;
    height: auto;

}

.card {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    overflow: hidden;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card a {
    text-decoration: none;

}

.card:hover {
    transform: scale(1.03);
}


.info-3 {
    display: flex;
    flex-direction: column;
    background-color: #6b6868;
    color: #fff;
    max-width: 300px;
    padding: 12px;
    border-radius: 10px;
    margin-top: 2px;
}

.info-3 h4 {
    font-size: 12px;
    margin-bottom: 10px;
    line-height: 1.2;
    text-align: left;
    height: 25px;
    overflow: hidden;



}

.info-3 p {
    font-size: 10px;

}

.categoria,
.classificacao,
.classificacao-1,
.classificacao-2 {
    display: inline-block;
    font-size: 12px;
    padding-top: 8px;
}

.classificacao,
.classificacao-1,
.classificacao-2 {
    margin-left: 0;
    vertical-align: middle;

}

.classificacao {
    background: rgb(240, 117, 117);
    padding: 4px 4px;
    border-radius: 30%;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    display: inline-block;
    margin-left: 180px;
    margin-top: 0;
}

.classificacao-1 {
    background: rgb(55, 0, 255);
    padding: 4px 4px;
    border-radius: 30%;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    display: inline-block;
    margin-left: 180px;
    margin-top: 0;
}

.classificacao-2 {
    background: rgb(201, 231, 100);
    align-items: center;
    padding: 4px 4px;
    border-radius: 30%;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    display: inline-block;
    margin-left: 180px;
    margin-top: 0;
}


.container-dados2 h3 {
    color: #fff;
    font-size: 25px;
    margin-top: 5%;
    margin-left: 18%;
    margin-bottom: 10px;
}


.galeria2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
    margin-top: 20px;
    flex-wrap: wrap;

}


.galeria2 a {
    text-decoration: none;
}

.galeria2 img {
    width: 100%;
    height: auto;
}

.card2 {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card2:hover {
    transform: scale(1.03);
}

.card2 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}





.categoria-4,
.classificacao-4 {
    display: inline-block;
    font-size: 15px;
    padding-top: 8px;
}


.classificacao-4 {
    background: rgb(99, 53, 138);
    padding: 4px 4px;
    border-radius: 30%;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    display: inline-block;
    margin-left: 180px;
    margin-top: 0;
}

.loja1 h3 {
    display: flex;
    text-align: left;
    margin-top: 40px;
    color: #fff;

}

.container-dados3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    width: 100%;

}


.galeria3 {
    display: flex;
    justify-content: center;
    gap: 1px;
    flex-wrap: wrap;

}

.card3 {
    width: 280px;
    overflow: hidden;
    text-align: center;
}

.card3 img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 260px;
    height: auto;
    border-radius: 50px;

}

.card3 img:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.carrossel2 {
    width: 900px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 30px;
}

.slides2:hover {
    animation-play-state: paused;
}

.slides2 {
    display: flex;
    animation: autoplay 15s infinite;
}

.slide2 img {
    width: 900px;
    height: 300px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 20px;
}


.menu-redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    height: 150px;
    margin: auto;
    gap: 20px;

}

.menu-redes a {
    text-decoration: none;
    font-weight: bold;

}

.menu-redes_link a {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}



.menu-redes_link a:hover {
    font-size: 22px;
    color: red;
    text-decoration: none;
    font-weight: bold;
}

.rede-icones img {
    width: 45px;
    border-radius: 15px;
    margin-right: 5px;
    display: inline;
    justify-content: flex-start;

}

.menu-redes_link {
    grid-row: 1 / 2;
    border-radius: 15px;
    background-color: #fff;
    height: 80px;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;


}

.menu-redes_item {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

}

.menu-redes_item h4 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 5px;

}

.menu-redes_item h4:hover {
    color: #0a0909;

}


footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

footer .menu {
    display: flex;
    width: 85%;

}

.menu-footer {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0px;
}

.menu-item_footer {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    cursor: pointer;
}

.menu-titulo_footer {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;

}



.menu-checkbox {
    display: none;
}


.menu-titulo .seta {
    font-size: 14px;
    transition: transform .3s;
}

.menu-container {
    overflow: hidden;
    transition: max-height .3s ease;

}

.menu-container a {
    padding: 10px;
}


.menu-container a,
.menu-container p {
    text-decoration: none;
    color: #979595;
    font-size: 15px;
    line-height: 25px;
    margin-top: 5px;
}

.menu-container a:hover,
.menu-container p:hover {
    color: #424242;

}



.menu-checkbox:checked~.menu-container {
    max-height: 300px;
}

.menu-checkbox:checked+.menu-titulo .seta {
    transform: rotate(180deg);
}

.seta {
    color: #222222;

}

.agente-conteiner {
    color: #FFFFFF;
    padding-top: 10%;
    padding-left: 23%;
    margin-right: 35%;
    display: block;

}

.horarios {
    color: #FFFFFF;
    margin-left: 40%;
    margin-top: -65%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;

}

.informacoes {
    color: white;
    display: flex;
    position: absolute;
    margin-top: 15%;
    margin-right: 80%;
    margin-left: 50%;
    border: 1px solid #2F2D2A;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1%;
    padding-right: 1%;

}

.Btn {
    width: 45px;
    height: 45px;
    margin-left: 39.3%;
    margin-top: 13.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: absolute;
    border-radius: 7px;
    z-index: 10;
    cursor: pointer;
    transition: all 0.3s;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    transition: all 0.3s;
    border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #ff0000;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all 0.3s;
}

.Btn:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.Btn:hover .svgContainer {
    border: 1px solid rgba(255, 110, 110, 0.466);
    background-color: rgba(219, 219, 219, 0.466);
    backdrop-filter: blur(4px);
}


.trailers {
    display: flex;
    justify-content: center;
    position: absolute;
    margin-left: 25%;
    margin-top: 10%;

}

.fechar a {
    color: white;
    background: #33312F;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    position: fixed;
    margin-top: 5%;
    margin-left: 54%;
    padding: 10px 20px 11px 20px;
    font-weight: 900;
    text-decoration: none;
}

.text {
    color: white;
    font-weight: bold;
    margin-left: 50%;
    margin-top: 20%;
    position: absolute;
}

.tabela {
    display: flex;
    color: #FFFFFF;
    background: #12100D;
    margin-left: 45%;
    gap: 2px;
}

#hr1 {
    text-align: center;
    border: 1px solid #12100D;
    background: #363333;
    width: 10%;
    height: 10%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px 0px 0px 10px;

}

#hr1:hover {
    transform: scale(1.1);
}

.hr2 {
    text-align: center;
    border: 1px solid #12100D;
    background: #363333;
    width: 10%;
    height: 10%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.hr2:hover {
    transform: scale(1.1);
}

#hr3 {
    text-align: center;
    border: 1px solid #12100D;
    background: #363333;
    width: 10%;
    height: 10%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 0px 10px 10px 0px;
}

#hr3:hover {
    transform: scale(1.1);
}


.img1 {
    border-radius: 3%;

}

.container-cadastro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-top: 20px;


}

.icone-flexa img,
.icone-x img {
    width: 35px;
}

.icone-flexa {
    grid-row: 1 / 3;
}

.icone-x {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    text-align: end;
}

.cadastro-texto {
    font-size: 20px;
    text-align: center;
    color: #999797;
    grid-column: 1 / 3;
    padding-top: 40px;

}

.container-cadastro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    padding-top: 20px;

}

.icone-flexa img,
.icone-x img {
    width: 35px;
    background-color: #6b6868;
}

.icone-flexa {
    grid-row: 1 / 3;
}

.icone-x {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    text-align: end;
}

.cadastro-texto {
    font-size: 20px;
    text-align: center;
    color: #6b6868;
    ;
    grid-column: 1 / 3;
    padding-top: 40px;

}

h1,
h2 {
    color: #fff;
    font-size: 18px;
    margin-top: 70px;
    text-align: left;
    margin-left: 22%;
    font-weight: bold;

}











































input[type="radio"] {
    display: none;
}

input#s1:checked~.nav label[for="s1"],
input#s2:checked~.nav label[for="s2"],
input#s3:checked~.nav label[for="s3"],
input#s4:checked~.nav label[for="s4"],
input#s5:checked~.nav label[for="s5"] {
    background: #6b6868;
}

@keyframes autoplay {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-200%);
    }

    65% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-300%);
    }

    85% {
        transform: translateX(-400%);
    }

    95% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 600px)
/*layout heater*/
    {

    .container-dados h3,
    .container-dados2 h3 {
        font-size: 15px;
        justify-content: flex-start;
        margin-left: 0;
    }

    .container-dados3 h3 {
        font-size: 15PX;
        justify-content: flex-start;
        margin-right: 220PX;
    }


    .slides img {
        object-fit: contain;

    }


}



@media (max-width: 768px) {
    .info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 25px;
        background-color: rgb(194, 27, 27);
        margin: 30px 120px 30px 500px;
        padding: 0 80px 0 80px;
        width: 100%;
        height: 150px;
        gap: 20px;

    }

   

    section {
        display: flex;
        justify-content: center;

    }

    .info2 p {
        font-size: 15px;

    }

    .info1 h3 {
        font-size: 15px;
        text-align: left;
    }

    .card {
        width: calc(50% -10px);
    }




    .galeria3 {
        display: flex;

    }

    .card3 img {
        display: flex;
        flex: 3;
        width: 150px;
    }



    .menu-redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20px;
        width: 100%;
        height: 100px;
        margin: 20px auto;

    }

    .menu-redes_link a {
        display: inline-block;
        margin: 0 auto;
        padding: 12px 18px;
        font-size: 10px;
        font-weight: bold;
        border-radius: 6px;
        text-decoration: none;


    }

    .menu-redes_item h4 {
        font-size: 15px;
    }


    .rede-icones {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0px;
        margin-top: 10px;
        flex-wrap: wrap;
        width: 100%;


    }

    .rede-icones img {
        width: 45px;
        height: auto;
    }






    .menu-footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 10px;
    }

    .menu-item_footer {
        border-bottom: 1px solid #888585;
        padding: 10px 0;
    }

    .menu-titulo_footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        cursor: pointer;
        padding: 10px 0;
    }

    .menu-checkbox:checked+.menu-titulo_footer .seta {
        transform: rotate(180deg);
    }

    .menu-container {
        max-height: 0;
        overflow: hidden;
        transition: max-height .35s ease;
        font-size: 16px;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .menu-checkbox:checked~.menu-container {
        max-height: 500px;
        padding-top: 8px;
    }

    .menu-checkbox {
        display: none;
    }
}