* {
    margin: 0;
}

body {
    background-color: #222222;
    padding-top: 10px;
    font-family: Montserrat, sans-serif;
}

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #111;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.container h1 {
    margin: 0;
    font-size: 18px;
    color: #fff;


}

.container a {
    text-decoration: none;
    color: red;
    margin-left: 10px
}

.barra-de-navegação {
    display: flex;
    flex-direction: row;
    gap: 2px;
    background: none;
    padding: 0;
    margin: 0;
    margin-left: 19%;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 15px;
    z-index: 1000;
}

.barra-de-navegação a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.barra-de-navegação a:hover {
    color: #6b6868;
}

.carrossel {
    width: 900px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 30px;
}

.slides:hover {
    animation-play-state: paused;
}

.slides {
    display: flex;
    animation: autoplay 15s infinite;
}

.slide img {
    width: 900px;
    height: 300px;
    margin-top: 8%;
    object-fit: cover;
    border-radius: 20px;

}

.info-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #550909;
    border-radius: 5px;
    background-color: #550909;
    color: #fff;
    padding: 20px;
    max-width: 50%;
    margin: auto;
    margin-top: 15px;
    gap: 10%;
}

.info1 h3 {
    color: #fff;
    font-size: 22px;
    font-family: sans-serif;

}

.info2 p {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.info2 a {
    font-size: 15px;
    color: #888585;
    text-decoration: none;
}

#s1:checked~.slides {
    transform: translateX(0);
}

#s2:checked~.slides {
    transform: translateX(-100%);
}

#s3:checked~.slides {
    transform: translateX(-200%);
}

#s4:checked~.slides {
    transform: translateX(-300%);
}

#s5:checked~.slides {
    transform: translateX(-400%);
}

.nav {
    text-align: center;
    margin-top: 10px;
}

.nav label {
    width: 12px;
    height: 12px;
    background: #888;
    display: inline-block;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
}

.container-dados h3 {
    color: #fff;
    margin-left: 15%;
    margin-top: 5%;
    font-size: 25px;

}



.galeria {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
    margin-top: 20px;
    flex-wrap: wrap;

}

.galeria img {
    width: 100%;
    height: auto;

}


.card {
    display: flex;
    flex-direction: column;
    width: 230px;
    overflow: hidden;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card a {
    text-decoration: none;

}

.card :hover {
    width: 105%;
    border-radius: 10%;
}

.info-3 {
    display: flex;
    flex-direction: column;
    background-color: #6b6868;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    margin-top: 3px;
}

.info-3 h4 {
    margin-bottom: 5px;
    font-size: 12px;

}

.info-3 p {
    font-size: 10px;
}


.categoria,
.classificacao,
.classificacao-1,
.classificacao-2 {
    display: inline-block;
    font-size: 12px;
    padding-top: 8px;
}

.classificacao,
.classificacao-1,
.classificacao-2 {
    margin-left: 0;
    vertical-align: middle;

}

.classificacao {
    background: rgb(240, 117, 117);
    padding: 4px 4px;
    border-radius: 30%;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    display: inline-block;
    margin-left: 180px;
    margin-top: 0;
}

.classificacao-1 {
    background: rgb(55, 0, 255);
    padding: 4px 4px;
    border-radius: 30%;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    display: inline-block;
    margin-left: 180px;
    margin-top: 0;
}

.classificacao-2 {
    background: rgb(201, 231, 100);
    align-items: center;
    padding: 4px 4px;
    border-radius: 30%;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    display: inline-block;
    margin-left: 180px;
    margin-top: 0;
}


.container-dados2 h3 {
    color: #fff;
    font-size: 25px;
    margin-top: 5%;
    margin-left: 15%;
    margin-bottom: 10px;

}

.galeria2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1%;
    margin-top: 20px;
    flex-wrap: wrap;

}

.galeria2 img {
    width: 100%;
    height: auto;
}

.card2 {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 420px;
    overflow: hidden;
}

.card2 img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}

.card2 :hover {
    width: 103%;
    border-radius: 10%;
}

.info-4 {
    padding: 10px;
    color: #fff;
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border-radius: 10px;
    background-color: #6b6868;
    margin-top: 6px;

}

.info-4 h4 {
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 1.2;

}

.info-4 p {
    font-size: 10px;
}




.categoria-4,
.classificacao-4 {
    display: inline-block;
    font-size: 15px;
    padding-top: 8px;
}

.classificacao-4 {
    margin-left: 0;
    vertical-align: middle;
    font: bold;

}

.classificacao-4 {
    background: rgb(99, 53, 138);
    padding: 6px 10px;
    border-radius: 30%;
    font-size: 15px;
    font-weight: bold;
    color: #ffff;
    display: inline-block;
    margin-left: 180px;
    margin-top: 0;
}

.classificacao-5 {
    background: rgb(202, 149, 49);
    padding: 0;
    border-radius: 50%;
    font-weight: bold;
    color: #ffff;
    display: inline-block;
    margin-left: 180px;



}

.classificacao4,
.classificacao-5 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 28px;
    height: 28px;
    border-radius: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.loja1 h4 {
    display: flex;
    text-align: left;
    margin-top: 50px;

}

.container-dados3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.container-dados3 h4 {
    font-size: 25px;
    color: #fff;
}

.galeria3 {
    display: flex;
    justify-content: center;
    gap: 1px;
    flex-wrap: wrap;

}

.card3 {
    width: 280px;
    overflow: hidden;
    text-align: center;
}

.card3 img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 260px;
    height: auto;
    border-radius: 50px;

}

.card3 img:hover {
    transform: scale(1.03);
    transition: 0.3s;
}

.carrossel2 {
    width: 900px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 30px;
}

.slides2:hover {
    animation-play-state: paused;
}

.slides2 {
    display: flex;
    animation: autoplay 15s infinite;
}

.slide2 img {
    width: 900px;
    height: 300px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 20px;
}

.menu-redes {
    display: flex;
   width: 100%;
}

.menu-redes_link {
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    width: 10px;
    margin-top: 5%;
    margin-left: 17%;
    border: 2px solid #fff;
    border-radius: 10px;
    
}
.menu-redes_item {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-top: 70px;

}

.menu-redes_item  h4{
    color: #fff;

}


.menu-redes_link a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.menu-redes_link a:hover {
    font-size: 22px;
    color: red;
    text-decoration: none;
    font-weight: bold;
}


footer {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    margin: 0;
}

footer .menu {
    display: flex;
    width: 85%;
    margin: 10px;
    gap: 20px;
    
    

}

.menu-checkbox {
    display: none;
}

.menu-titulo {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffff;
    cursor: pointer;
}

.menu-titulo .seta {
    font-size: 14px;
    transition: transform .3s;
}

.menu-container {
    overflow: hidden;
    transition: max-height .3s ease;

}

.menu-container p {
    color: #979595;
    font-size: 14px;
    padding: 4px;
}

.menu-container p:hover {
    color: #424242;
    font-size: 12px;

}

.menu-checkbox:checked~.menu-container {
    max-height: 300px;
}

.menu-checkbox:checked+.menu-titulo .seta {
    transform: rotate(180deg);
}

.seta {
    color: #222222;
    
}







.agente-conteiner img {
    padding-top: 60px;
    padding-left: 21%;
}

.horarios {
    color: #FFFFFF;

}



input[type="radio"] {
    display: none;
}

input#s1:checked~.nav label[for="s1"],
input#s2:checked~.nav label[for="s2"],
input#s3:checked~.nav label[for="s3"],
input#s4:checked~.nav label[for="s4"],
input#s5:checked~.nav label[for="s5"] {
    background: #6b6868;
}

@keyframes autoplay {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-100%);
    }

    40% {
        transform: translateX(-100%);
    }

    45% {
        transform: translateX(-200%);
    }

    60% {
        transform: translateX(-200%);
    }

    65% {
        transform: translateX(-300%);
    }

    80% {
        transform: translateX(-300%);
    }

    85% {
        transform: translateX(-400%);
    }

    100% {
        transform: translateX(-400%);
    }
}

